# CI for Pull Requests
# PRがオープンされた時にCIを実行

name: CI

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  app-ci:
    name: App CI
    uses: ./.github/workflows/app-ci.yml
    secrets: inherit
